.points{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
}
.pointsLine{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
}
.pointBlock{
    display: flex;
    width: 31%;
    align-items: center;
}
.pointBlock img{
    margin-right: 20px;
    width: 83px;
}
.pointBlockText h4{
    font-size: 25px;
    font-family: 'Gilroy-Medium';
    margin-block-end: 14px;
    margin-block-start: 0;
}
.pointBlockText span{
    font-size: 18px;
    font-family: 'Gilroy-Light';
}
.pointsLineMobile{
    display: none;
}

@media screen and (max-width: 1280px){
    .points{
        padding-left: 0;
        padding-right: 0px;
    }
}

@media screen and (max-width: 1000px){
    .pointsLine{
        display: none;
    }
    .pointsLineMobile{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 35px;
    }
    .pointBlock{
        width: 49%;
    }
}

@media screen and (max-width: 658px) {
    .pointsLineMobile{
        flex-direction: column;
        margin-bottom: 0;
    }
    .pointBlock{
        width: 100%;
        margin-bottom: 55px;
    }
}
