.main{
    background-color: #35AAF9 !important;
    color: white !important;
    font-family: 'Gilroy-Medium' !important;
    font-size: 20px !important;
    text-transform: initial !important;
    max-width: 280px;
    width: 100%;
    height: 75px !important;
    border-radius: 0 !important;
}
.main:hover{
    background-color: #2194e0 !important;
}
