.main{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    transition-duration: .3s;
    z-index: 10000;
}
.window{
    width: 75%;
    height: 70%;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.window form{
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 35px;
    box-sizing: border-box;
    text-align: center;
}
.window form h2{
    font-family: 'GothamPro-Bold';
    font-size: 25px;
    margin-block-start: 0;
    margin-bottom: auto;
}
.window form button[type="submit"]{
    margin-top: auto;
    background-color: #35AAF9 !important;
    color: white !important;
    font-family: 'Gilroy-Medium' !important;
    border-radius: 0 !important;
    height: 75px;
    width: 60%;
    align-self: center;
    text-transform: initial !important;
    font-size: 20px !important;
    margin-bottom: 30px;
    transition-duration: .3s !important;
}
.window form button[type="submit"]:hover{
    background-color: #2194e0 !important;
}
.close{
    align-self: flex-end;
    font-size: 30px !important;
    font-weight: bold !important;
}
.sale{
    width: 40%;
    background-color: #000426;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.fieldsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    box-sizing: border-box;

}
.fields{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.field{
    width: 48%;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.field div{
    width: 100%;
}
.field div{
    width: 100%;
}
.window h3{
    text-align: left;
    padding-left: 25px;
    box-sizing: border-box;
}
.options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    margin-bottom: 25px;
}
.options button{
    position: relative;
    border-radius: 0 !important;
    width: 48%;
    height: 55px;
    border: 1px solid #CECECE;
    text-transform: initial !important;
    font-family: 'Gilroy';
    font-size: 18px !important;
}
.blueBlock{
    width: 8%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #35AAF9;
    animation-duration: .2s;
    animation-name: move;
}
.activeBut{
    border: 1px solid #35AAF9 !important;
}

@keyframes move{
    from{
        width: 0;
    }
    to{
        width: 8%;
    }
}