.main{
    width: 100%;
}

.infoMain{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    display: flex;
    margin-top: 115px;
}
.leftSide{
    width: 20%;
    margin-right: 60px;
}
.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #35AAF9;
    padding-left: 15px;
    box-sizing: border-box;
}
.menuItem a{
    font-size: 20px;
    height: 85px;
    display: flex;
    align-items: center;
    color: black;
    text-align: left;
    text-decoration: none;
    transition-duration: .3s;
    font-family: 'Gilroy-Medium';
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.menuItem a:hover{
    background-color: #e8f6ff ;
}
.activeLink{
    color: white !important;
    background-color: #35AAF9 !important;
    font-family: 'Gilroy' !important;
}
.sale{
    margin-top: 230px;
    box-shadow: 0px 5px 70px rgba(0, 0, 0, 0.1);
    padding: 45px 35px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sale p{
    font-family: 'Gilroy-Light';
    font-size: 18px;
}
.sale h1{
    color: #35AAF9;
    font-size: 60px;
    margin-block-end: 15px;
    margin-block-start: 15px;
}
.sale button{
    margin-top: 30px;
}
.content{
    width: 70%;
}
.contentTop{
    display: flex;
    width: 100%;
}
.contentImages{
    display: flex;
    flex-direction: column;
}
.contentImages img + img{
    margin-top: 35px;
}
.info{
    width: 65%;
    margin-left: 20px;
}
.info ul{
    list-style-type: square;
}
.content h3{
    margin-block-start: 0;
    margin-block-end: 25px;
    font-size: 30px;
    font-family: 'Gilroy-Medium';
    line-height: 36px;
    margin-left: 40px;
    opacity: .8;
}
.info li{
    font-size: 20px;
    font-family: 'Gilroy-Light';
    line-height: 29px;
    opacity: .8;
    margin-bottom: 10px;
}
.contentBot{
    margin-top: 52px;
}
.contentBot h3{
    margin-left: 0;
}
.factors{
    list-style-type: "—";
    padding-left: 13px;
    opacity: .8;
    font-family: 'Gilroy-Light';
    font-size: 18px;
    line-height: 24px;
}
.factors li{
    padding-left: 10px;
}
.orderBut{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 170px;
}
.dop p{
    font-size: 18px;
    font-family: 'Gilroy-Light';
    opacity: .8;
    line-height: 24px;
}
.works{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.works h2{
    margin-block-end: 88px;
    margin-block-start: 0;
    font-size: 40px;
    font-family: 'GothamPro-Bold';
}
.serviceImgMobile{
    display: none;
}
.termMobile{
    display: none;
}
.saleHeader{
    display: none;
}

@media screen and (max-width: 1280px){
    .infoMain{
        padding-left: 50px;
        padding-right: 50px;
    }
    .works{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 1279px){
    .main{
        margin-top: 140px;
    }
    .infoMain{
        flex-direction: column;
        margin-top: 50px;
    }
    .leftSide{
        width: 100%;
        margin-right: 0;      
    }
    .sale{
        display: none;
    }
    .content{
        width: 100%;
        margin-top: 50px;
    }
    .contentImages{
        display: none;
    }
    .serviceImgMobile{
        display: block;
        width: 100%;
    }
    .info{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .content h3{
        margin-left: 0;
        margin-top: 35px;
    }
    .contentBot{
        display: flex;
        flex-direction: column;
    }
    .saleHeader{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .saleHeader h2{
        margin-block-start: 0;
        margin-block-end: 0;
        font-family: 'GothamPro-Bold';
        font-size: 40px;
        letter-spacing: -0.015em;
    }
    .saleHeader p{
        color: #35AAF9;
        font-size: 68px;
        margin-block-end: 15px;
        margin-block-start: 15px;
    }
    .saleHeader span{
        font-size: 20px;
        font-family: 'GothamPro-Bold';
        letter-spacing: -0.015em;
    }
    .termMobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        box-sizing: border-box;
        margin-top: 50px;
    }
    .termLvl{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .termBlock{
        margin-left: 25px;
        margin-right: 25px;
        flex-direction: column;
        display: flex;
        text-align: center;
    }
    .termBlock span{
        margin-top: 10px;
    }
}
@media screen and (max-width: 658px) {
    .saleHeader{
        padding-left: 25px;
        padding-right: 25px;
        box-sizing: border-box;
    }
    .saleHeader h2{
        font-size: 35px;
        text-align: center;
    }
    .saleHeader span{
        text-align: center;
    }
    .termLvl{
        flex-direction: column;
    }
    .termBlock{
        margin: 0;
    }
}

@media screen and (max-width: 568px){
    .info ul{
        padding: 0;
    }
    .serviceImgMobile{
        width: 100%;
    }
}
@media screen and (max-width: 468px){
    .infoMain{
        padding-left: 25px;
        padding-right: 25px;
    }
    .works{
        padding-left: 0;
        padding-right: 0;
    }
    .orderBut{
        margin-top: 40px;
        margin-bottom: 70px;
    }
    .works h2{
        font-size: 32px;
    }
    .info li{
        font-size: 16px;
    }
    .content h3{
        font-size: 25px;
    }
    .factors li{
        font-size: 16px;
    }
    .dop p{
        font-size: 16px;
    }
}