.main{
    width: 100%;
    overflow: hidden;
}
.map{
    width: 100%;
    position: relative;
    height: 495px;
}
.main iframe{
    width: 100%;
    height: 495px;
    border: none;
    outline: none;
}
.contacts{
    position: absolute;
    background-color: #000426;
    margin-left: 100px;
    color: white;
    width: 460px;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10 !important;
}
.contacts h2{
    margin-block-start: 0;
    margin-block-end: 0px;
    font-family: 'GothamPro-Bold';
    font-weight: bold;
    font-size: 40px;
    letter-spacing: -0.015em;
}
.contactBlock{
    display: flex;
    align-items: top;
    font-size: 18px;
    font-family: 'Gilroy-Medium';
    margin-top: 30px;
}
.contactBlock img{
    margin-right: 15px;
}
.textBlock{
    display: flex;
    flex-direction: column;
}
.contactBlock a{
    color: white;
    text-decoration: none;
}
.contactBlock a:hover{
    text-decoration: underline;
}

.footer{
    color: white;
    background-color: #000426;
    height: max-content;
    padding: 80px 100px;
    box-sizing:  border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'GothamPro-Bold';
    margin-bottom: 25px;
    transition-duration: .3s;
}
.links a:hover{
    transform: scale(1.02);
}
.footer .contactBlock{
    margin-top: 0;
    margin-bottom: 25px;
}
.insta{
    padding: 10px 12px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    text-decoration: none;
}
.insta:hover{
    text-decoration: underline;
}
.insta img{
    width: 25px;
    margin-right: 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 1280px){
    .contacts{
        margin-left: 50px;
    }
    .footer{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen and (max-width: 1279px){
    .footer{
        flex-direction: column;
        text-align: center;
    }
    .links{
        flex-direction: row;
        margin-top: 35px;
        width: 60%;
        justify-content: space-between;
    }
    .footer .contactBlock{
        justify-content: center;
        font-size: 24px;
    }
    .insta{
        margin-top: 15px;
    }
    .insta img{
        width: 30px;
    }
    .textBlock{
        align-items: center;
    }
}
@media screen and (max-width: 658px){
    .links{
        width: 80%;
    }
}

@media screen and (max-width: 468px){
    .footer{
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 15px;
        text-align: left;
        position: relative;
    }
    .footer .contactBlock{
        justify-content: flex-start;
        align-self: flex-start;
        font-size: 16px;
        font-family: 'Gilroy-Medium';
    }
    .textBlock{
        text-align: left;
        align-items: flex-start;
    }
    .links{
        width: 100%;
    }
    .footBlock{
        width: 100%;
    }
    .insta{
        align-self: flex-end;
        position: absolute;
        bottom: 40px;
    }
    .insta img{
        width: 25px;
    }
}

@media screen and (max-width: 375px){
    .footer .contactBlock{
        font-size: 20px;
    }
    .links a{
        font-size: 18px;
    }
}

@media screen and (max-width: 350px){
    .links a{
        font-size: 15px;
    }
    .footer .contactBlock{
        font-size: 16px;
    }
}