html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  margin: 0;
  font-family: 'Gilroy';
}
::-webkit-scrollbar {
  width: 10px;
  opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  opacity: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #000426;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0;
}


@media screen and (max-width: 1279px){
  .carousel-track{
    height: 402px !important;
  }
}